@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";
@theme {
  --font-roboto: "Roboto", sans-serif; 
}


::-webkit-scrollbar {
    display: none;
}


div {
    text-underline-offset: 3px !important;
}

/* Remove default underline styling for links inside xterm - all states */
.xterm a {
  text-decoration: none !important;
  color: inherit !important;
}

.xterm a:hover {
  text-decoration: none !important;
}

.xterm a:visited {
  text-decoration: none !important;
  color: inherit !important;
}

.xterm a:active {
  text-decoration: none !important;
}